.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 375px;
  min-height: 90dvh;
  padding: 1rem;
}

@media (width >= 48rem) {
  .container {
    min-height: 93dvh;
  }
}

.main {
  display: flex;
  flex-flow: column;
}
